table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    min-width: 650px;
    border-collapse: collapse;
    background-color: #ffffff;
}

[href]:hover {
    color:rgb(96, 255, 123)
}

ul.directory {
    text-align: left;
    list-style-position: inside;
    margin-left: 550px;
}

td {
   padding-top: 10px;
   padding-bottom: 10px;
    text-align: left;
}

h1, h2, .directory{
    text-align: center;
    font-family: helvetica;
}
h1 {
    color: rgb(163, 74, 47);
}

h2 {
    color: rgb(163, 74, 47);
}

aside {
    text-align: center;
    font-family: Georgia;
    font-size: smaller;
}

thead {
    background-color: seagreen;
    padding-top: 15px;
    text-align: left;
    padding-left: 5px;
    color: white;
    text-transform: capitalize;
}
tr{
    border-bottom: 1px solid #c2c2c2;
}

.values {
    color: rgb(163, 74, 47)
}

.properties {
    color:rgb(112, 197, 236)
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;

}
tr:last-of-type {
    border-bottom: 2px solid seagreen;
}

body {
    background-color: #eeeedf ;
}

