table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    min-width: 650px;
    border-collapse: collapse;
    background-color: #ffffff;
}

#nav-icon {
    max-width: 80px;
    max-height: 80px;
    padding-right: 100px;
    position: fixed; 
    top: 8px;
    left: 10px;
}

[href] {
    color: #c7fdff
}
[href]:hover {

    color:rgb(96, 255, 123)
}

ul.directory {
    text-align: left;
    list-style-position: inside;
    margin-left: 550px;
    list-style-type: square;
}

td {
   padding-top: 10px;
   padding-bottom: 10px;
    text-align: left;
}

h1, h2, .directory{
    text-align: center;
    font-family: helvetica;
    
}
h1 {
    color: rgb(58, 58, 58);
    background-color: #f1f1f2;
    padding: 30px;
    margin: 0;
}

h2 {
    color: #ffffff
}

aside {
    text-align: center;
    font-family: Georgia;
    font-size: smaller;
    color: #ffffff;
    padding-top: 100px;
}


thead {
    background-color: #f1f1f2;
    padding-top: 15px;
    text-align: left;
    padding-left: 5px;
    color: #000000;
    text-transform: capitalize;
}
tr{
    border-bottom: 1px solid #c2c2c2;
}

.values {
    color: rgb(163, 74, 47)
}

.properties {
    color:rgb(112, 197, 236)
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;

}
tr:last-of-type {
    border-bottom: 2px solid #9c9c9c;
}

body {
    background-image: url(./space\ picture.jpeg);
    background-repeat: repeat;
    padding: 0%;
    margin: 0%;
}

#namedrop {
    position: fixed;
    top: 25px;
    right: 20px;
}

header {
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
}

footer {
    background-color: #f1f1f2 ;
    margin: 0 auto;
    padding-bottom: 2rem;
    position: relative;
    bottom: 0;
}

.contact-me{
    text-align: center;
}
.contact-list li {
    display: inline;
    margin-right: 40px;
    margin-left: 40px;
}


#coloradoselfie {
    max-width: 250px;
    max-height: 250px;
    position:absolute;
    right: 0;
    
}

 
#github-link [href] {
    color:black;
    text-decoration: none;
   
}

h3 {
    padding-top: 20px;
}